body {
		background-image: url(https://images.unsplash.com/photo-1620991565081-82743a5a499c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80);
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */

		background-color: #65869a;
		
		font-family: 'Zen Dots', cursive;
	}

img { width:300px; }

	.text-center {
		text-align: center;
	}